<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.prj3.reviewMapper">

	<!-- 설정 -->
    <resultMap id="insertReview" type="kr.co.sist.prj3.user.review.vo.WriteReviewVO">
        <id property="id" column="id" />
        <result property="content" column="content" javaType="java.sql.Clob" jdbcType="CLOB" />
        <!-- 다른 매핑 설정 -->
    </resultMap>

	<insert id="insertReview" parameterType="kr.co.sist.prj3.user.review.vo.WriteReviewVO">
		insert into review(rv_num, title, input_date, hits, content, m_num, user_id)
		values(seq_review.nextval, #{title}, sysdate, 0, #{content}, #{mNum}, #{id})
	</insert>

<!-- <parameterMap id="insertReview" type="kr.co.sist.prj3.user.review.vo.WriteReviewVO">
  다른 매개변수 매핑들...
  <parameter property="content" javaType="java.sql.Clob" jdbcType="CLOB"/>
  다른 매개변수 매핑들...
</parameterMap> -->

</mapper>